Desarollo_de_Aplicaciones_Web/practica DTD/ejercicio1/ejercicio1.dtd

<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (titulo, autor, fechaPublicacion)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (nombre, fechaNacimiento?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fechaNacimiento (#PCDATA)>
<!ELEMENT fechaPublicacion EMPTY>
<!ATTLIST fechaPublicacion año CDATA #REQUIRED>
